body {
  text-align: center;
  padding-top: 2rem;
  background-color: rgb(150, 138, 34)
}

.login-with-google-btn {
  transition: background-color .3s, box-shadow .3s;
    
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}
  
.login-with-google-btn:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}
  
.login-with-google-btn:active {
    background-color: #eeeeee;
  }
  
.login-with-google-btn:focus {
    outline: none;
    box-shadow: 
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c8dafc;
  }
  
.login-with-google-btn:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    cursor: not-allowed;
  }

nav {
    margin: 0;
    width: 100%;
    height: 50px;
    background-color: yellow;
    display: flex;
    align-items: center; 
    color: white;
    text-decoration: none;
    transition-duration: 0.2;
  }

a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 25px;
  }

img.redirect {
  width: 86px;
  height: 43px;
  background-color: yellow;
  border-radius: 8px;
  transition-duration: 0.2s;
}

button.redirect {
  width: 86px;
  height: 43px;
  background-color: yellow;
  transition-duration: 0.2s;
}

img.redirect:hover {
  background-color: white;
}

button.redirect:hover {
  background-color: white;
}

button.navbutton {
  background-color: yellow;
  color: white;
  transition-duration: 0.2s;
  justify-content: right;
}

button.navbutton:hover {
  background-color: white;
  color: yellow;
}

button.logout {
  background-color: yellow;
  color: white;
  transition-duration: 0.2s;
  justify-content: right;
}

button.logout:hover {
  background-color: rgb(241, 93, 93);
  color: yellow;
}

input,textarea {
  margin-top: 5px;
  font-size: 19px;
}

button {
  transition-duration: 0.4s;
  border-radius: 6px;
  border: white;
  font-size: 20px;
}

button:hover {
  background-color: yellow; 
  color: white;
}


.logout {
  background-color: yellow;
  color: white;
  font-size: 25px;
}
